.array-container {
    position: absolute;
    left: 100px;
  }
  
  .array-bar {
    /* position: flex; */
    width: 5px;
    background-color: turquoise;
    display: inline-flex;
    margin: 0 1px;
  }
